:root {
    --Cor-primária: #FF9737;
    --Cor-secundária: #FF521C;
    --Cor-terciária: #FFFFFF;
    --Cor-quartenária: #46B1FF;
}
/* h1 {
    color: var(--Cor-primária)
} */
header {
    background-color: var(--Cor-secundária);

}
header h1{
    font-size: 16px;
    width: 75px;
    text-align: center;
}